@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --night-background: #003047;

  --white: #ffffff;
  --white-soft: #f7f6f9;

  --dark: #1a1a1a;
  --dark-soft: #c1c1c1;

  /*Gradiant */
  --blue-cloud-light: #88d2ff;
  --blue-cloud-dark: #2d8ac4;

  --gray-cloud-light: #9eb5cb;
  --gray-cloud-dark: #58789a;

  --sun-light: #f4d100;
  --sun-dark: #f78700;

  --moon-light: #f2f3f4;
  --moon-dark: #b4bbc1;

  --background: var(--white);
  --background-soft: var(--white-soft);
  --text: var(--dark);
  --text-soft: var(--dark-soft);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-soft);
  color: var(--text);
}
